.App {
  min-height: 100vh;
  width: 100%;
  background-color: #256e5e;
  margin: 0;
  padding: 0;
}

section.container {
  background-color: #a6a3b6;
  min-height: 70vh;
  max-height: fit-content;
  width: 80vw;
  margin-top: 5vh;
  border-radius: 25px;
  margin-left: 10vw;
  overflow-x: hidden;
}
section.container-content {
  text-align: justify;
  margin-top: 5vh;
  min-height: 70vh;
  max-height: fit-content;
}
section.container-content p {
  margin: 0px 20px;
}
section.container-content h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.photo {
  height: 200px;
  width: 200px;
  margin: 0px 10px;
  float: left;
}

.project {
  max-height: 275px;
  max-width: 50vw;
  margin: 0px 10px;
  float: left;
}
.picture-container {
  max-height: 250px;
  margin: 0px 10px;
  max-width: 50vw;
  scrollbar-width: 20px;
  float: left;
  overflow: hidden;
}
.pdf-container {
  max-height: 250px;
  margin: 0px 10px;
  max-width: 50vw;
  scrollbar-width: 20px;
  float: left;
  overflow: hidden;
}

.contact-form {
  min-height: 30vh;
  max-height: fit-content;
  width: 80%;
  display: inline;
}
.contact-email {
  width: 45vw;
  height: 25px;
}
.contact-text {
  resize: vertical;
  width: 45vw;
  min-height: 40vh;
  max-height: fit-content;
}
.contact-form-button {
  width: 45vw;
  background-color: white;
  margin-bottom: 20px;
}
