.box {
  display: flex;
  width: 20vh;
  height: 20vh;
  background-color: rgb(68, 121, 139);

  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 3rem;
  border: 3px solid black;
  transition: background 0.2s ease-in-out;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  justify-content: center;
  align-items: center;
  display: flex;
  outline: none;
  padding: 10px 20px;
  border: none;
  outline: 0px;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  transition: all 0.2s ease-in-out;
  width: 20vh;
  text-align: center;
}

button:hover {
  cursor: pointer;
  background: rgb(46, 124, 22);
  color: white;
}
.occupied {
  display: flex;
  width: 20vh;
  height: 20vh;
  background-color: rgb(68, 121, 139);

  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 3rem;
  border: 3px solid black;
  transition: background 0.2s ease-in-out;
}
.occupied:hover {
  background: #ff3a3a;
}

#Box_0,
#Box_1,
#Box_2 {
  border-top: none;
}

#Box_0,
#Box_3,
#Box_6 {
  border-left: none;
}

#Box_6,
#Box_7,
#Box_8 {
  border-bottom: none;
}

#Box_2,
#Box_5,
#Box_8 {
  border-right: none;
}

.h1 {
  align-content: center;
  text-align: center;
}

.h2 {
  align-content: center;
  text-align: center;
}
